Flow 1
[{"id":"4778f70.6573508","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"58238172.cefd2","type":"sensor-ds18b20","z":"4778f70.6573508","name":"T1","topic":"","sensorid":"28-0218606fb5ff","timer":"10","repeat":false,"x":390,"y":320,"wires":[["23b48586.68ad2a","dfb3e692.ee5b58","1895bb84ce82200d","c5cadb.d8828528"]]},{"id":"6f43ee6a.1c9ce","type":"inject","z":"4778f70.6573508","name":"","repeat":"10","crontab":"","once":true,"onceDelay":0.1,"topic":"timestamp","payload":"","payloadType":"date","x":150,"y":380,"wires":[["58238172.cefd2","a161c1dd.51ebd8","efa077f0.44656","68d3e426.e9975c","73b1fbd4.c4e23c","f4bedd02.26e96"]]},{"id":"23b48586.68ad2a","type":"ui_gauge","z":"4778f70.6573508","name":"Tube temperature","group":"29b0149a.b2c00c","order":0,"width":"5","height":"4","gtype":"gage","title":"Tube temperature","label":"°C","format":"{{value}}","min":0,"max":"85","colors":["#1f06fa","#e6d700","#ca3838"],"seg1":"35","seg2":"55","x":630,"y":303,"wires":[]},{"id":"dfb3e692.ee5b58","type":"ui_chart","z":"4778f70.6573508","name":"","group":"3dc041a3.96b43e","order":0,"width":"6","height":"4","label":"Tube chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Tube temperature","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"8640","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":610,"y":363,"wires":[[],[]]},{"id":"6dd27b0e.a669f4","type":"debug","z":"4778f70.6573508","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":540,"wires":[]},{"id":"f4bedd02.26e96","type":"sensor-ds18b20","z":"4778f70.6573508","name":"T2","topic":"","sensorid":"28-0218605db6ff","timer":"10","repeat":false,"x":390,"y":440,"wires":[["b060c6ff.3c0b58","4c966325.f8369c","c5cadb.d8828528","1895bb84ce82200d"]]},{"id":"b060c6ff.3c0b58","type":"ui_gauge","z":"4778f70.6573508","name":"Boiler temperature","group":"29b0149a.b2c00c","order":0,"width":"5","height":"4","gtype":"gage","title":"Boiler temperature","label":"°C","format":"{{value}}","min":0,"max":"85","colors":["#1f06fa","#e6d700","#ca3838"],"seg1":"35","seg2":"55","x":630,"y":423,"wires":[]},{"id":"4c966325.f8369c","type":"ui_chart","z":"4778f70.6573508","name":"","group":"3dc041a3.96b43e","order":0,"width":"6","height":"4","label":"Boiler chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Boiler temperature","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"8640","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":610,"y":483,"wires":[[],[]]},{"id":"ff605046.1f86a8","type":"ui_text","z":"4778f70.6573508","group":"fc66f8df.ff44f8","order":1,"width":0,"height":0,"name":"","label":"actual date & time","format":"{{msg.payload}}","layout":"col-center","x":610,"y":80,"wires":[]},{"id":"a161c1dd.51ebd8","type":"moment","z":"4778f70.6573508","name":"","topic":"","input":"","inputType":"date","inTz":"Europe/Zurich","adjAmount":0,"adjType":"hours","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"de_CH","output":"payload","outputType":"msg","outTz":"Europe/Zurich","x":360,"y":220,"wires":[["d7609034.160f1","c5cadb.d8828528","1895bb84ce82200d"]]},{"id":"c5cadb.d8828528","type":"function","z":"4778f70.6573508","name":"Format Spreadsheet line","func":"var o = msg.payload; // get payload\nvar topic=msg.payload;\n//msg.topic=topic.toUpperCase(); // convert to UPPERCASE\n//msg.sString = o.timestamp + o.T1 + o.T2;\n//var msg1 =  { payload:o.timestamp };\n//var msg2 =  { payload:o.T1 };\n//var msg3 =  { payload:o.T2 };\n//return [ [ msg1, msg2, msg3 ] ];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":580,"wires":[["921d2de1.0f4b5","6dd27b0e.a669f4"]]},{"id":"921d2de1.0f4b5","type":"file","z":"4778f70.6573508","name":"Write_measurements","filename":"/home/pi/Documents/T1and2","appendNewline":true,"createDir":false,"overwriteFile":"false","x":960,"y":620,"wires":[[]]},{"id":"a1fac31f.ed198","type":"inject","z":"4778f70.6573508","name":"realtime","repeat":"1","crontab":"","once":true,"onceDelay":"0","topic":"realtime","payload":"","payloadType":"date","x":140,"y":80,"wires":[["327d17ca.b51b78"]]},{"id":"327d17ca.b51b78","type":"moment","z":"4778f70.6573508","name":"","topic":"","input":"","inputType":"date","inTz":"Europe/Zurich","adjAmount":0,"adjType":"hours","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"de_CH","output":"payload","outputType":"msg","outTz":"Europe/Zurich","x":360,"y":80,"wires":[["ff605046.1f86a8","6346935f.058824"]]},{"id":"d7609034.160f1","type":"ui_text","z":"4778f70.6573508","group":"fc66f8df.ff44f8","order":2,"width":0,"height":0,"name":"last measurement","label":"last measurement","format":"{{msg.payload}}","layout":"col-center","x":670,"y":220,"wires":[]},{"id":"efa077f0.44656","type":"exec","z":"4778f70.6573508","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Temp","x":170,"y":680,"wires":[["49d1d62a.242cb8"],[],[]]},{"id":"49d1d62a.242cb8","type":"function","z":"4778f70.6573508","name":"SubString","func":"str = msg.payload \nmsg.payload  = str.substring(5, 9);\nreturn msg;","outputs":1,"noerr":0,"x":308,"y":667,"wires":[["dabcf7df.e042d","d366bdb7.beac3"]]},{"id":"dabcf7df.e042d","type":"ui_gauge","z":"4778f70.6573508","name":"T CPU","group":"86808f34.3188b","order":2,"width":"4","height":"3","gtype":"gage","title":"CPU Temp.","label":"°C","format":"{{value}}","min":0,"max":"90","colors":["#00b500","#b6e203","#ca3838"],"seg1":"","seg2":"","x":450,"y":640,"wires":[]},{"id":"68d3e426.e9975c","type":"exec","z":"4778f70.6573508","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"LOAD","x":168,"y":741.5,"wires":[["bdba2f9c.62f558","894b014f.3122d8","f2a34e00.2f40a"],[],[]]},{"id":"bdba2f9c.62f558","type":"ui_gauge","z":"4778f70.6573508","name":"CPU LOAD","group":"86808f34.3188b","order":1,"width":"4","height":"3","gtype":"gage","title":"CPU LOAD","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":434,"y":727,"wires":[]},{"id":"73b1fbd4.c4e23c","type":"exec","z":"4778f70.6573508","command":"free | grep Mem | awk '{print 100*($2-$4)/$2}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"MEM","x":171,"y":810,"wires":[["efb16f52.2da9","4f85d555.cbfff4"],[],[]]},{"id":"6346935f.058824","type":"ui_text","z":"4778f70.6573508","group":"6e076eb1.999f6","order":4,"width":"6","height":"1","name":"","label":"actual date & time","format":"{{msg.payload}}","layout":"row-center","x":610,"y":120,"wires":[]},{"id":"efb16f52.2da9","type":"ui_gauge","z":"4778f70.6573508","name":"RAM","group":"86808f34.3188b","order":3,"width":"4","height":"3","gtype":"gage","title":"RAM","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#38ca48","#e6e600","#b50000"],"seg1":"","seg2":"","x":450,"y":840,"wires":[]},{"id":"4f85d555.cbfff4","type":"ui_chart","z":"4778f70.6573508","name":"RAM","group":"d9caba98.a92e88","order":3,"width":"6","height":"3","label":"RAM","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"%","dot":false,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"8640","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#1cdf1c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":450,"y":880,"wires":[[],[]]},{"id":"894b014f.3122d8","type":"ui_chart","z":"4778f70.6573508","name":"CPU load","group":"d9caba98.a92e88","order":1,"width":"6","height":"3","label":"CPU load","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"8640","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":600,"y":780,"wires":[[],[]]},{"id":"d366bdb7.beac3","type":"ui_chart","z":"4778f70.6573508","name":"CPU Temperature","group":"d9caba98.a92e88","order":2,"width":"6","height":"3","label":"CPU Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"8640","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":640,"y":700,"wires":[[],[]]},{"id":"f2a34e00.2f40a","type":"debug","z":"4778f70.6573508","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":800,"wires":[]},{"id":"23b3ac38.86a854","type":"comment","z":"4778f70.6573508","name":"BoilerPi","info":"","x":90,"y":40,"wires":[]},{"id":"23bf1579c5bb7b7a","type":"file","z":"4778f70.6573508","name":"","filename":"/home/pi/Documents/Test","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1170,"y":380,"wires":[[]]},{"id":"1895bb84ce82200d","type":"function","z":"4778f70.6573508","name":"second try","func":"var d = new Date();\nvar t = d.getTime();\npayload = {\"time\":t,\"payload\":msg.payload,\"topic\":msg.topic,\"T1\":msg.T1};\nmsg.payload=payload;\nreturn msg;\n\n//code of function second try saves this content into file. Temperatures are identified \n//with topic T1 or T2 but order is random. Timestamp is complete and usable but too\n//much overhead. Desired would be a single line per measurement.\n\n//{\"time\":1672427663787,\"payload\":\"2022-12-30 20:14:23\",\"topic\":\"timestamp\"}\n//{\"time\":1672427664637,\"payload\":58.8,\"topic\":\"T2\"}\n//{\"time\":1672427664717,\"payload\":35.6,\"topic\":\"T1\"}\n//{\"time\":1672427673795,\"payload\":\"2022-12-30 20:14:33\",\"topic\":\"timestamp\"}\n//{\"time\":1672427674638,\"payload\":34.2,\"topic\":\"T1\"}\n//{\"time\":1672427674718,\"payload\":58.6,\"topic\":\"T2\"}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":380,"wires":[["23bf1579c5bb7b7a"]]},{"id":"29b0149a.b2c00c","type":"ui_group","name":"Gauges","tab":"f79ae581.74b0b8","order":2,"disp":true,"width":"6","collapse":false},{"id":"3dc041a3.96b43e","type":"ui_group","name":"Charts","tab":"f79ae581.74b0b8","order":3,"disp":true,"width":"6","collapse":false},{"id":"fc66f8df.ff44f8","type":"ui_group","name":"Date&Time","tab":"f79ae581.74b0b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"86808f34.3188b","type":"ui_group","name":"Instant Values","tab":"13a370d1.57605f","order":2,"disp":true,"width":"6","collapse":false},{"id":"6e076eb1.999f6","type":"ui_group","name":"Date & Time","tab":"13a370d1.57605f","order":1,"disp":true,"width":"6","collapse":false},{"id":"d9caba98.a92e88","type":"ui_group","name":"charts","tab":"13a370d1.57605f","order":3,"disp":true,"width":"6","collapse":false},{"id":"f79ae581.74b0b8","type":"ui_tab","name":"Boiler","icon":"dashboard","order":1},{"id":"13a370d1.57605f","type":"ui_tab","name":"CPU state","icon":"dashboard","order":1}]
